
  
.herovideo{height: 90vh; overflow: hidden;object-fit: cover;object-position: center;}
video::-webkit-media-controls {
  display: none !important;
}
/* arrow background */
.hero-one__animation-2{margin-bottom: 100px;}
.arrowgif{height: 50px;}
.bg-theme{background-color: #0d6efd;color: #fff;}

.glossy-bg {
  position: relative;
  background: linear-gradient(135deg, #0C182E, #101d33);
  border-radius: 1rem;
  padding: 2rem;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.08);
  box-shadow:
    0 4px 12px rgba(0, 0, 0, 0.4),
    0 0 60px rgba(255, 255, 255, 0.05) inset;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  z-index: 1;
}

.glossy-bg::before {
  content: "";
  position: absolute;
  top: -30%;
  left: -30%;
  width: 160%;
  height: 160%;
  background: radial-gradient(
    circle at 30% 30%,
    rgba(255, 255, 255, 0.1),
    transparent 70%
  );
  opacity: 0.5;
  z-index: -1;
  pointer-events: none;
  transform: rotate(20deg);
}

.glossy-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: -50%;
  width: 200%;
  height: 100%;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0.39) 0%,
    rgba(192, 192, 192, 0.582) 60%,
    rgba(189, 189, 189, 0.479) 100%
  );
  opacity: 0.2;
  animation: shine 6s infinite linear;
  z-index: -1;
  pointer-events: none;
}

@keyframes shine {
  0% {
    transform: translateX(-100%) rotate(15deg);
  }
  100% {
    transform: translateX(100%) rotate(15deg);
  }
}



@media only screen and (min-width: 1401px) and (max-width: 1600px) {
  .herovideo{height: 90vh !important; overflow: hidden;object-fit: cover;object-position: center;}
}
@media only screen and (min-width: 1201px) and (max-width: 1400px) {
  .herovideo{height: auto !important;overflow: hidden;object-fit: cover;object-position: center;}
  .about-one .about-one__img .about-one__img2 {right: -100px;}
}
@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .herovideo{height: auto !important;overflow: hidden;object-fit: cover;object-position: center;}
  
  .about-one .about-one__img .about-one__img2 {right: -70px;}
  .about-one .about-one__img .about-one__img2 img {width: 70%;}
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .herovideo{height: auto !important;overflow: hidden;object-fit: cover;object-position: center;}
  .about-one .about-one__img .about-one__img2 {right: -100px;}
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .herovideo{height: auto !important;overflow: hidden;object-fit: cover;object-position: center;}
}
@media (max-width: 767px) {
  
}
@media (max-width: 575px) {
  .herovideo{height: auto;}
}